# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ljdbzihrvrfjevgkqufp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0fK-NvrJL082MHsMnh-urA_0ZfPGxfH

# App URL (used for auth email redirect)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
